services:
  - type: worker
    name: telegram-bot
    runtime: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python ambarbot.py"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9
      - key: TOKEN
        sync: false
